<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738603131874-2eh0h275v19valc4ukuo2f8m29fioqq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738603131874-2eh0h275v19valc4ukuo2f8m29fioqq6</string>
	<key>API_KEY</key>
	<string>AIzaSyDss9m8gjMaHq4jZJWrqlUtT5oAPT1Nkrk</string>
	<key>GCM_SENDER_ID</key>
	<string>738603131874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookxchangeFlutter</string>
	<key>PROJECT_ID</key>
	<string>bookxchange-70fb5</string>
	<key>STORAGE_BUCKET</key>
	<string>bookxchange-70fb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738603131874:ios:c2ce1957edb0d39ccd4fbb</string>
</dict>
</plist>